<template>
  <v-app>
      <v-main>
        <!-- Notification -->
        <notifications group="BULGO" classes="bulgo_notification"
          :width="$VBreakpoint.isPhone() ? '100%' :
          $VBreakpoint.isTablet() ? '50%' : '35%'"  ref="notify"
           />

        <LoaderBulgo :loaderBulgoModel="loaderBulgoModel" />

        <transition name="fade" mode="out-in">
          <router-view/>
        </transition>

      </v-main>
  </v-app>
</template>

<script>
import Helper from './helpers'
import { LoaderBulgo } from 'bulgo-spa-library';

export default {
  name: 'App',

  data: () => ({
    loaderBulgoModel: false,
  }),
  computed: {

  },
  created() {
    const helper = new Helper();

    helper.onOverlayLoader(({ valueOverlay }) => {
      this.loaderBulgoModel = valueOverlay;
    })
    // * Receptor for show notification in the app
    this.$EventBus.$on('showNotification', (payload) => this.showNotification(payload));
  },
  methods: {
    async showNotification({ title, text, type, duration, payload = {} }) {
      this.$notify({
        group: 'BULGO',
        title: title || 'Titulo por defecto',
        text: text || 'Texto por defecto',
        type: type || 'info',
        duration: duration || 30000,
      });

      new Audio(require('./assets/sound/notificacion.mp3')).play()

      console.log('notification active', this.$refs.notify);
      // * Create click event
      this.$refs.notify.$el.onclick = () => {
        console.log('event click', { title, text, type, duration, payload });
      }
    },
  },
  watch: {

  },
  components: {
    LoaderBulgo
  }
};
</script>

<style lang="scss">
  .v-application {

  }
</style>